@page
@{
    ViewData["Title"] = "EasyAuth sample web client";
}
<h1>EasyAuth sample web client</h1>
<div>This is the sample code from <a href="https://github.com/stuartleeks/AzureFunctionsEasyAuth">https://github.com/stuartleeks/AzureFunctionsEasyAuth</a></div>

<div>
    <h2>Click below for the sample web client using:</h2>
    <ul>
        <li><a href="vanilla-js">Vanilla JS</a></li>
        <li><a href="zumo">Mobile Services Client JavaScript SDK</a></li>
    </ul>
</div>