@page
@using  Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Vanilla JS sample";
    var facebookAppId = Configuration["facebookAppId"];
    var googleClientId = Configuration["googleClientId"];
    var functionAppBaseUrl = Configuration["functionAppBaseUrl"];
    if (!functionAppBaseUrl.EndsWith("/"))
    {
        functionAppBaseUrl += "/";

    }
}
@section Head {
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="@googleClientId">
}
<h1>Vanilla JS - sample client</h1>

<div>
    <fb:login-button scope="public_profile,email"
                     auto-logout-link="true"
                     onlogin="onFacebookLogin();">
    </fb:login-button>
    <div class="g-signin2" data-onsuccess="onGoogleLogin"></div>

</div>
<div>
    <button id="testIsAuthenticated">Test Authenticated</button>
    <button id="getClaims">Get Claims</button>
    <button id="getAuthInfo">Get Auth Info</button>
    <button id="getEmail">Get Email</button>
</div>

<div>
    <h2>Log:</h2>
    <button id="clearLog">Clear</button>
    <div id="log"></div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>


<script>
    @* Pull in the facebook JavaScript SDK: https://developers.facebook.com/docs/javascript/
    Other facebook SDKs: https://developers.facebook.com/docs/
    *@
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@facebookAppId',
            cookie: true,
            xfbml: true,
            version: 'v2.12'
        });
        FB.getLoginStatus(function (response) {
            onFacebookLogin(response);
        });
    };
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    var easyAuthToken = null;
    var functionAppBaseUrl = '@functionAppBaseUrl';
    var logElement = document.getElementById('log');

    function clearLog() {
        logElement.innerText = '';
    }
    function log(message) {
        logElement.innerText += message + '\r\n';
    }
    function onFacebookLogin(response) {
        log('In facebook callback: ' + JSON.stringify(response));
        if (response.status.toLowerCase() === 'connected') {
            var accessToken = response.authResponse.accessToken;
            translateAuthToken('facebook', { 'access_token': accessToken });
        } else {
            easyAuthToken = null;
        }
    }
    function onGoogleLogin(googleUser) {
        console.log(googleUser.getAuthResponse());
        var id_token = googleUser.getAuthResponse().id_token;
        translateAuthToken('google', { id_token: id_token });
    };
    function translateAuthToken(provider, body) {
        // Call function app to translate provider token to EasyAuthToken
        sendRequest(
            {
                method: 'POST',
                url: `${functionAppBaseUrl}.auth/login/${provider}`,
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json',
                },
                body: body
            },
            function () {
                log('EasyAuth response:' + this.responseText);
                var easyAuthResponse = JSON.parse(this.responseText);
                easyAuthToken = easyAuthResponse.authenticationToken;
            }
        );

    }

    function callIsAuthenticated() {
        sendRequest(
            {
                method: 'GET',
                url: functionAppBaseUrl + "api/IsAuthenticated",
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json',
                    'X-ZUMO-AUTH': easyAuthToken
                },
            },
            function () {
                log(`Response from IsAuthenticated: ${this.responseText}`);
            }
        );
    }
    function callGetClaims() {
        sendRequest(
            {
                method: 'GET',
                url: functionAppBaseUrl + "api/GetClaims",
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json',
                    'X-ZUMO-AUTH': easyAuthToken
                },
            },
            function () {
                log(`Response from GetClaims: ${this.responseText}`);
            }
        );
    }
    function callGetAuthInfo() {
        sendRequest(
            {
                method: 'GET',
                url: functionAppBaseUrl + "api/GetAuthInfo",
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json',
                    'X-ZUMO-AUTH': easyAuthToken
                },
            },
            function () {
                log(`Response from GetAuthInfo: ${this.responseText}`);
            }
        );
    }
    function callGetEmail() {
        sendRequest(
            {
                method: 'GET',
                url: functionAppBaseUrl + "api/GetEmailClaim",
                headers: {
                    'accept': 'application/json',
                    'content-type': 'application/json',
                    'X-ZUMO-AUTH': easyAuthToken
                },
            },
            function () {
                log(`Response from GetEmail: ${this.responseText}`);
            }
        );
    }
    function sendRequest(options, handler) {
        var xhr = new XMLHttpRequest();
        xhr.open(options.method, options.url);
        for (header in options.headers) {
            xhr.setRequestHeader(header, options.headers[header]);
        }
        xhr.onload = handler
        var body = options.body;
        if (body !== undefined && body !== null && typeof (body) !== 'string') {
            body = JSON.stringify(body);
        }
        xhr.send(body);
    }

    document.getElementById('clearLog').addEventListener('click', clearLog);
    document.getElementById('testIsAuthenticated').addEventListener('click', callIsAuthenticated);
    document.getElementById('getClaims').addEventListener('click', callGetClaims);
    document.getElementById('getAuthInfo').addEventListener('click', callGetAuthInfo);
    document.getElementById('getEmail').addEventListener('click', callGetEmail);

</script>