@page
@{
    ViewData["Title"] = "Home page";
}

<h1>Sample Web Client</h1>

This project contains two implementations of web clients to demonstrate how to authenticate with an Azure Function via EasyAuth:

<ul>
    <li><a href="VanillaJS">Using vanilla JS</a></li>
    <li><a href="">Using Mobile Services JS SDK</a></li>
</ul>